@import url(https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap);
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Oxygen";
}

header {
  height: 85px;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 10;
  padding-top: 20px;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-left a {
  font-size: 50px;
  line-height: 65px;
  color: black;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  font-size: 30px;
  line-height: 65px;
  padding: 0 25px;
  color: black;
  display: block;
  float: left;
  transition: all 0.5s;
}

.darurat {
  width: 204px;
  height: 63px;
  background: rgba(227, 26, 26, 1);
  opacity: 1;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.darurat:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.darurat a {
  color: white;
  text-align: center;
  justify-content: center;
  font-size: 22px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1920px;
  width: 100%;
  padding: 0 9em;
  margin: 0 auto;
}
.containertop {
  margin: 0.8em 1.5em 0 0;
  max-width: 1920px;
  padding: 0 8%;
  float: right;
}

.containertop a {
  font-size: 25px;
  float: right;
  margin-right: -25px;
  padding: 0 25px;
  color: black;
  display: block;
  transition: all 0.5s;
}

.top-wrapper {
  display: grid;
  padding: 5% 0 5% 0;
  background-image: url(images/harold.png);
  background-size: cover;
  background-position-x: center;
  color: black;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.takbiru {
  width: 164px;
  height: 65px;
  background: rgba(68, 122, 202, 1);
  opacity: 1;
  position: absolute;
  top: 198px;
  left: 0px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.takbiru2 {
  width: 231px;
  height: 63px;
  background: rgba(68, 122, 202, 1);
  opacity: 1;
  position: absolute;
  top: 230px;
  left: 0px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.takbiru3 {
  width: 298px;
  height: 62px;
  background: rgba(68, 122, 202, 1);
  opacity: 1;
  position: absolute;
  top: 262px;
  left: 0px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.takbiru11 {
  width: 164px;
  height: 65px;
  background: rgba(68, 122, 202, 1);
  opacity: 1;
  position: absolute;
  top: 2324px;
  left: 0px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.takbiru22 {
  width: 231px;
  height: 63px;
  background: rgba(68, 122, 202, 1);
  opacity: 1;
  position: absolute;
  top: 2292px;
  left: 0px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.takbiru33 {
  width: 298px;
  height: 62px;
  background: rgba(68, 122, 202, 1);
  opacity: 1;
  position: absolute;
  top: 2260px;
  left: 0px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.takbiru111 {
  width: 164px;
  height: 65px;
  background: rgba(68, 122, 202, 1);
  opacity: 1;
  position: absolute;
  top: 1592px;
  right: 0px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.takbiru222 {
  width: 231px;
  height: 63px;
  background: rgba(68, 122, 202, 1);
  opacity: 1;
  position: absolute;
  top: 1562px;
  right: 0px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.takbiru333 {
  width: 298px;
  height: 62px;
  background: rgba(68, 122, 202, 1);
  opacity: 1;
  position: absolute;
  top: 1530px;
  right: 0px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.takbiruiv {
  width: 164px;
  height: 65px;
  background: rgba(68, 122, 202, 1);
  opacity: 1;
  position: absolute;
  top: 2934px;
  right: 0px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.takbiruiv2 {
  width: 231px;
  height: 63px;
  background: rgba(68, 122, 202, 1);
  opacity: 1;
  position: absolute;
  top: 2902px;
  right: 0px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.takbiruiv3 {
  width: 298px;
  height: 62px;
  background: rgba(68, 122, 202, 1);
  opacity: 1;
  position: absolute;
  top: 2870px;
  right: 0px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.search-box {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  box-sizing: unset;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(196, 196, 196, 0.4);
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}
.search-box:hover > .search-txt {
  width: 440px;
  padding: 0 6px;
}
.search-box:hover > .search-btn {
  background: white;
}
.search-btn {
  color: rgba(68, 122, 202, 1);
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: black;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

.gbr {
  float: left;
  margin: 10px 0 0 10px;
}

.coneatas {
  margin-left: 62%;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 55px solid transparent;
  border-right: 55px solid transparent;
  border-top: 90px solid rgba(235, 16, 16, 1);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.conebawah {
  margin-left: 62%;
  margin-top: 90px;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 55px solid transparent;
  border-right: 55px solid transparent;
  border-bottom: 90px solid rgba(235, 16, 16, 1);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.conekiri {
  margin-left: 60.19%;
  margin-top: 35px;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 55px solid transparent;
  border-bottom: 55px solid transparent;
  border-left: 90px solid rgba(235, 16, 16, 1);
  border-radius: 50%;
}
.conekanan {
  margin-left: 64.9%;
  margin-top: 35px;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 55px solid transparent;
  border-bottom: 55px solid transparent;
  border-right: 90px solid rgba(235, 16, 16, 1);
  border-radius: 50%;
}

.daftar {
  flex-direction: column;
  display: flex;
  padding: 2% 0 5% 0;
  background-color: white;
  background-size: cover;
  color: black;
  text-align: center;
}

.daftar h1 {
  opacity: 1;
  font-size: 50px;
  letter-spacing: 1px;
  margin-bottom: 0.7;
  text-align: center;
}
.daftar h2 {
  opacity: 1;
  font-size: 25px;
  letter-spacing: 1px;
  margin-bottom: 70px;
  text-align: center;
}

.daftar p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.panahform {
  margin-left: 22.5em;
  position: absolute;
}

.form {
  display: inline-block;
  margin-right: 70px;
  width: 438px;
  height: 93px;
  opacity: 1;
  border: 1px solid rgba(105, 96, 96, 1);
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.gbr1 {
  float: left;
  margin: 15px 0 0 30px;
}
.form a {
  color: black;
  font-size: 30px;
  float: left;
  margin: 25px 0 0 15px;
}

.jamkun {
  display: inline-block;
  margin-right: 70px;
  width: 358px;
  height: 93px;
  opacity: 1;
  border: 1px solid rgba(105, 96, 96, 1);
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.gbr2 {
  float: left;
  margin: 15px 0 0 30px;
}
.jamkun a {
  color: black;
  font-size: 30px;
  float: left;
  margin: 25px 0 0 15px;
}
.kontak {
  display: inline-block;
  margin-right: 70px;

  width: 230px;
  height: 93px;
  opacity: 1;
  border: 1px solid rgba(105, 96, 96, 1);
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.gbr3 {
  float: left;
  margin: 15px 0 0 30px;
}
.kontak a {
  color: black;
  font-size: 30px;
  float: left;
  margin: 25px 0 0 15px;
}

/*-----   PAGNATION   -----*/
.pagnation-wrapper {
  padding: 1% 5% 1% 5%;
  /*
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%; */
  background-color: rgba(68, 122, 203, 0.3);
  background-size: cover;
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.container1 {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
  /*font-family: "Poppins", sans-serif;*/
  min-height: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px;
}

.card {
  position: relative;
  background: #f0f4fc;
  max-width: 325px;
  width: 325px;
  height: auto;
  margin: 25px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  border-radius: 10px;
  overflow: hidden;
}

.card-image {
  max-height: 200px;
}

.card-image img {
  max-width: 100%;
  height: auto;
}

.card-info {
  position: relative;
  color: #222;
  padding: 10px 20px 20px;
}

.card-info h3 {
  text-align: center;
  font-size: 1.8em;
  font-weight: 800;
  margin-bottom: 5px;
}

.card-info p {
  text-align: justify;
  font-size: 1em;
  margin-bottom: 5px;
}

.pagination {
  text-align: center;
  margin: 30px 30px 60px;
  user-select: none;
}

.pagination li {
  display: inline-block;
  margin: 5px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
}

.pagination li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  line-height: 45px;
}
.pagination li img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  line-height: 45px;
}

.previous-page,
.next-page {
  background: #447acb;
  width: 80px;
  border-radius: 45px;
  cursor: pointer;
  transition: 0.3s ease;
}

.previous-page:hover {
  transform: translateX(-5px);
}

.next-page:hover {
  transform: translateX(5px);
}

.current-page,
.dots {
  background: #ccc;
  width: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.active {
  background: #447acb;
}

.disable {
  background: #ccc;
}

/*-----   PAGNATION   -----*/

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

/* Menu-icon */
.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  /* Property display none */
  display: none;
}

.kabar-wrapper {
  padding: 0 5% 0 5%;
  /*padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%; */
  background-color: white;
  background-size: cover;
  text-align: center;
}
.bayang {
  text-shadow: 0 0 4px black;
}

.pengelola-wrapper {
  padding: 0 5% 80px 5%;
  /*padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%; */
  background-color: white;
  background-size: cover;
  text-align: center;
}

.ulasan-wrapper {
  padding: 0 5% 80px 5%;
  /*padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%; */
  background-color: white;
  background-size: cover;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}
.heading a {
  font-size: 25px;
  font-weight: normal;
  color: black;
}
.heading h2 {
  font-weight: normal;
}
.heading h3 {
  font-weight: normal;
}

.kabars {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.kabar {
  position: relative;
  width: 23%;
  margin: auto;
}

.kabar-icon {
  position: relative;
  display: inline-block;
}
.kabar-icon:hover {
  opacity: 0.5;
}

.kabar-icon p {
  margin-left: 30px;
  text-align: left;
  position: absolute;
  top: 10%;
  width: 100%;
  color: white;
}

.pengelolas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.ulasans {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.pengelola {
  position: relative;
  width: 25%;
  margin: auto;
}

.pengelola-icon {
  position: relative;
  display: inline-block;
}

.pengelola-icon p {
  margin-left: 30px;
  text-align: left;
  position: absolute;
  top: 10%;
  width: 100%;
  color: white;
}

.gbrpengelola {
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 17px #000000;
}
.gbrpengelola:hover {
  opacity: 0.5;
}

.pglround {
  margin: 50px 0 0 0;
  display: inline-block;
  width: 204px;
  height: 63px;
  background: rgb(0, 0, 0);
  opacity: 1;
  border-radius: 0 20px 0 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.pglround:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.pglround a {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  color: white;
  text-align: center;
  font-size: 22px;
}

.pglround2 {
  margin: 50px 0 0 0;
  display: inline-block;
  width: 204px;
  height: 63px;
  background: rgba(38, 6, 156, 0.8);
  opacity: 1;
  border-radius: 0 20px 0 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.pglround2:hover {
  background-color: rgba(38, 6, 156, 0.5);
}
.pglround2 a {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  color: white;
  text-align: center;
  font-size: 22px;
}

.pglround3 {
  margin: 50px 0 0 0;
  display: inline-block;
  width: 204px;
  height: 63px;
  background: rgb(139, 78, 21);
  opacity: 1;
  border-radius: 0 20px 0 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.pglround3:hover {
  background-color: rgba(139, 78, 21, 0.75);
}
.pglround3 a {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  color: white;
  text-align: center;
  font-size: 22px;
}

.ulasan {
  position: relative;
  width: 25%;
  margin: auto;
}

.ulasan-icon {
  position: relative;
  display: inline-block;
}

.ulasan-icon p {
  margin-left: 30px;
  text-align: left;
  position: absolute;
  top: 10%;
  width: 100%;
  color: white;
}

.gbrulasan {
  margin-top: 50px;
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 17px #000000;
}
.gbrulasan:hover {
  opacity: 0.5;
}

.ulsround {
  margin: 50px 0 0 0;
  display: inline-block;
  width: 204px;
  height: 63px;
  background: rgba(51, 151, 5, 0.8);
  opacity: 1;
  border-radius: 0 20px 0 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.ulsround:hover {
  background-color: rgba(51, 151, 5, 0.5);
}
.ulsround a {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  color: white;
  text-align: center;
  font-size: 22px;
}

.ulsround2 {
  margin: 50px 0 0 0;
  display: inline-block;
  width: 204px;
  height: 63px;
  background: rgba(154, 156, 6, 0.8);
  opacity: 1;
  border-radius: 20px 0 20px 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.ulsround2:hover {
  background-color: rgba(154, 156, 6, 0.5);
}
.ulsround2 a {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  color: white;
  text-align: center;
  font-size: 22px;
}

.text-contents {
  width: 90%;
  display: inline-block;
  margin-top: 15px;
  font-size: 1.3em;
  color: #b3aeb5;
}
.text-contents2 {
  width: 100%;
  display: inline-block;
  margin-top: 15px;
  font-size: 25px;
  color: #000000;
}

.hubungi-wrapper {
  /*
  padding-top: 10px;
  padding-right: 5%;
  padding-bottom: 10px;
  padding-left: 5%;
   */
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  min-height: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(68, 122, 202, 1);
  padding: 3% 0 3% 0;

  background-size: cover;
}
.hubungi-left {
  float: left;
}

.hubungi-left a {
  font-size: 30px;
  padding: 25px 25px;
  color: white;
  float: left;
}

.hubungi-right {
  margin-right: 100px;
  float: right;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.hubungi-right:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.hubungi-right a {
  font-size: 30px;
  padding: 25px;
  color: white;
  float: left;
  border: 1px solid white;
}

.alamat-wrapper {
  display: flex;
  background-color: rgba(68, 122, 203, 0.7);
  padding: 3% 0 5% 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-size: cover;
  flex-direction: column;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  background-color: rgba(68, 122, 203, 1);
  padding-top: 10px;
  padding-bottom: 10px;
}
.fa-star {
  color: rgb(0, 217, 255);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bulet {
  width: 188px;
  height: 188px;
  background: rgba(67, 162, 203, 1);
  opacity: 1;
  position: absolute;
  top: 4390px;
  left: 1532px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.bulet2 {
  width: 156px;
  height: 156px;
  background: rgba(68, 122, 203, 1);
  opacity: 1;
  position: absolute;
  top: 4406px;
  left: 1548px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4000000059604645);
}
.bulet3 {
  width: 94px;
  height: 94px;
  background: rgba(0, 101, 255, 1);
  opacity: 1;
  position: absolute;
  top: 4437px;
  left: 1579px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.30000001192092896);
}
.bulet4 {
  width: 47px;
  height: 47px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 4460px;
  left: 1603px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20000000298023224);
}

.alamat-left {
  margin-left: 15%;
  float: left;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.alamat-left a {
  color: black;
  font-size: 1.2rem;
  font-weight: normal;
}

.alamat-left:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.peta {
  display: flexbox;
  margin: 4% 0 0 60%;
  /*padding: 50px 0 50px 0;*/
  color: black;
  text-align: left;
}
.peta a {
  font-size: 1rem;
  font-weight: normal;
}
.peta h2 {
  font-weight: normal;
}
.peta h3 {
  font-weight: normal;
}
.jargam {
  margin-left: 15px;
}
.copy {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  max-width: 100%;
  padding: 0 8%;
  margin: 0 auto;
  /*max-width: 1920px;
  width: 100%;
  margin: 0 0 0 150px;*/
}
.copy p {
  font-size: 1.6rem;
  color: black;
}
